ul.pagination.pagination-bar {
  --bs-pagination-bg: inherit;
  margin-bottom: 0;
}

ul.pagination.pagination-bar li {
  text-align: center;
}

ul.pagination.pagination-bar li a:hover,
ul.pagination.pagination-bar li button:hover,
ul.pagination.pagination-bar li span:hover {
  background-color: var(--bs-secondary-bg);
  color: var(--bs-pagination-color);
  text-decoration: none;
}

ul.pagination.pagination-bar li a:active,
ul.pagination.pagination-bar li button:active,
ul.pagination.pagination-bar li span:active {
  box-shadow: 0 0 0 0.25rem var(--bs-focus-ring-color);
}
