.adv-copy {
  border-radius: 5px !important;
  margin: 16px 0 !important;
  border: none;
}

.launchIcon,
.adv-copy svg {
  width: 20px !important;
  height: 20px !important;
  margin-top: -2px !important;
}

.launchIcon {
  margin-left: 8px;
}

.adv-copy svg {
  color: var(--color-blue) !important;
}

.adv-summary .row {
  margin: 5px 0px !important;
}

.adv-right {
  text-align: right !important;
}
