VITE_OIDC_AUTHORITY=https://<KEYCLOAK-SERVER>/auth/realms/<KEYCLOAK-REALM>
VITE_OIDC_CLIENT_ID=staff-portal

VITE_FRONTEND_BASE_URL=http://localhost:8101
VITE_API_BASE_URL=http://0.0.0.0:8100/api

VITE_BCPARKS_PUBLIC_URL=http://localhost:8000
VITE_CMS_BASE_URL=http://localhost:1337

VITE_STAT_HOLIDAY_API=https://canada-holidays.ca/api/v1/provinces/BC

VITE_CKEDITOR_LICENSE_KEY=ckeditor-license-key
