VITE_OIDC_AUTHORITY=https://dev.loginproxy.gov.bc.ca/auth/realms/bcparks-service-transformation
VITE_OIDC_CLIENT_ID=staff-portal

VITE_FRONTEND_BASE_URL=http://localhost:3000
VITE_API_BASE_URL=http://localhost:8100/api

VITE_BCPARKS_PUBLIC_URL=http://localhost:8000
VITE_CMS_BASE_URL=http://localhost:1337

VITE_STAT_HOLIDAY_API=https://canada-holidays.ca/api/v1/provinces/BC

VITE_CKEDITOR_LICENSE_KEY=GPL
