:3000 {
    file_server

    redir /v2 /v2/
    handle_path /v2/* {
        try_files /v2/{path} /v2/index.html
    }

    handle {
        try_files {path} /index.html
    }

    header /v2/* Cache-Control "no-store, must-revalidate, no-cache, max-age=0, private"
    header /v2/assets/* -Cache-Control

    encode gzip

    root * /usr/share/caddy

    log {
        output stdout
        format console
    }
}

