:3000 {
    file_server

    redir /v2 /dates/
    redir /v2/ /dates/
    redir /dates /dates/

    handle_path /dates/* {
        try_files /dates/{path} /dates/index.html
    }

    handle {
        try_files {path} /index.html
    }

    header /dates/* Cache-Control "no-store, must-revalidate, no-cache, max-age=0, private"
    header /dates/assets/* -Cache-Control

    encode gzip

    root * /usr/share/caddy

    log {
        output stdout
        format console
    }
}

