# VSCode devcontainer configuration

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    environment:
      FONTAWESOME_PACKAGE_TOKEN: ${FONTAWESOME_PACKAGE_TOKEN}
    ports:
      - "8101:8101"
    volumes:
      - .:/app:cached
    command: sleep infinity # Keep the container running
    # Just send SIGKILL to stop the container (no grace period for `sleep infinity`)
    # https://docs.docker.com/compose/faq/#why-do-my-services-take-10-seconds-to-recreate-or-stop
    stop_signal: SIGKILL

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    environment:
      POSTGRES_SERVER: db
      POSTGRES_PORT: 5432
      POSTGRES_DB: mydatabase
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "8100:8100"
    volumes:
      - .:/app:cached
    command: sleep infinity # Keep the container running
    depends_on:
      - db
    # Just send SIGKILL to stop the container (no grace period for `sleep infinity`)
    # https://docs.docker.com/compose/faq/#why-do-my-services-take-10-seconds-to-recreate-or-stop
    stop_signal: SIGKILL

  db:
    image: postgres:17
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "8102:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  test-proxy:
    image: caddy:2
    depends_on:
      - frontend
    ports:
      - "8103:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro

volumes:
  db-data:
