.sub-area {
  & > h2 {
    margin-bottom: var(--layout-margin-xlarge);
    display: flex;
    gap: var(--layout-margin-medium);

    .sub-area-icon {
      height: 1.25em;
    }
  }
}

.season {
  display: flex;
  margin-bottom: var(--layout-margin-medium);

  &.expanded {
    align-items: flex-start;
  }

  & > .details {
    color: var(--surface-color-primary-default);
    border-radius: var(--layout-border-radius-medium);
    border-top-right-radius: 0;
    &:not(.expanded) {
      border-bottom-right-radius: 0;
    }
    border: var(--layout-border-width-small) solid
      var(--surface-color-primary-default);
    flex: 1;

    & > header {
      display: flex;
      align-items: center;
      gap: var(--layout-margin-medium);
      padding: var(--layout-padding-large);

      > h3 {
        margin: 0;
      }
    }

    .expand-toggle {
      margin-left: auto;
    }

    .details-content {
      padding: 0 var(--layout-padding-large) var(--layout-padding-large);

      .sub-area-dates {
        border-top: var(--layout-border-width-medium) solid
          var(--surface-color-border-dark);
        margin-bottom: var(--layout-margin-large);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  & > .controls {
    border-top-right-radius: var(--layout-border-radius-medium);
    border-bottom-right-radius: var(--layout-border-radius-medium);
    border: var(--layout-border-width-small) solid
      var(--surface-color-primary-default);
    border-left: none;
    display: flex;
    align-items: center;
    padding: var(--layout-padding-medium);

    .divider {
      border-right: var(--layout-border-width-small) solid
        var(--surface-color-primary-default);
      margin-inline: var(--layout-margin-xsmall);
      height: 2rem;
    }
  }
}
