.page.park-details {
  .sub-area {
    &:not(:last-of-type) {
      margin-bottom: var(--layout-margin-xxlarge);
    }

    & > h2 {
      margin-bottom: var(--layout-margin-large);
      display: flex;
      gap: var(--layout-margin-medium);

      .sub-area-icon {
        height: 1.25em;
      }
    }
  }

  .season {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: var(--layout-margin-medium);

    // show horizontally on large screens
    @include from-sm {
      flex-direction: row;

      &.expanded {
        align-items: flex-start;
      }
    }

    & > .details {
      border-radius: 0 0 var(--layout-border-radius-medium)
        var(--layout-border-radius-medium);

      border: var(--layout-border-width-small) solid
        var(--surface-color-primary-default);
      border-width: 0 var(--layout-border-width-small)
        var(--layout-border-width-small);
      flex: 1;

      // seamless borders on larger screens
      @include from-sm {
        border-radius: var(--layout-border-radius-medium) 0
          var(--layout-border-radius-medium) var(--layout-border-radius-medium);
        border-width: var(--layout-border-width-small);

        &:not(.expanded) {
          border-radius: var(--layout-border-radius-medium) 0 0
            var(--layout-border-radius-medium);
        }
      }

      & > header {
        display: flex;
        align-items: center;
        gap: var(--layout-margin-medium);
        padding: var(--layout-padding-large);
        color: var(--surface-color-primary-default);

        > h3 {
          margin: 0;
        }
      }

      .expand-toggle {
        margin-left: auto;
      }

      .details-content {
        padding: 0 var(--layout-padding-large) var(--layout-padding-large);

        .feature {
          &:not(:last-of-type) {
            margin-bottom: var(--layout-margin-large);
          }
        }

        .sub-area-dates {
          border-top: var(--layout-border-width-medium) solid
            var(--surface-color-border-dark);
        }
      }
    }

    & > .controls {
      border-radius: var(--layout-border-radius-medium)
        var(--layout-border-radius-medium) 0 0;
      border: var(--layout-border-width-small) solid
        var(--surface-color-primary-default);
      display: flex;
      align-items: center;
      padding: var(--layout-padding-medium);

      // seamless borders on larger screens
      @include from-sm {
        border-left: none;
        border-radius: 0 var(--layout-border-radius-medium)
          var(--layout-border-radius-medium) 0;
        min-height: 5.5rem;
      }

      .divider {
        border-right: var(--layout-border-width-small) solid
          var(--surface-color-primary-default);
        margin-inline: var(--layout-margin-xsmall);
        height: 2rem;
      }
    }
  }
}
