.page.review-changes,
.page.review-winter-fees-changes {
  .feature-type {
    margin-bottom: var(--layout-margin-large);
    padding-block: var(--layout-padding-medium);

    & > h2 {
      margin-bottom: var(--layout-margin-xlarge);
    }
  }

  .current-date-column,
  .prev-date-column {
    width: 32%;
    min-width: 14em;
  }

  .actions-column {
    width: 7rem;
  }

  .table th,
  .table td {
    vertical-align: middle;
  }

  // spacing between DateRange components
  td:not(:last-child) .date-range {
    margin-right: 1em;
  }
}
