.page.review-changes {
  .sub-area {
    margin-bottom: var(--layout-margin-large);
    padding-block: var(--layout-padding-medium);

    & > h2 {
      margin-bottom: var(--layout-margin-xlarge);
      display: flex;
      gap: var(--layout-margin-medium);

      .sub-area-icon {
        height: 1.25em;
      }
    }
  }

  .type-column {
    min-width: 5rem;
    width: 5rem;
  }

  .date-column {
    min-width: 9rem;
    width: 9rem;
  }

  // spacing between DateRange components
  td:not(:last-child) .date-range {
    margin-right: 1em;
  }

  .notes {
    .note-metadata {
      color: var(--typography-color-secondary);
      filter: brightness(1.5); // muted font color, lighter than color-secondary
    }

    .controls {
      gap: var(--layout-margin-medium);
    }
  }
}
