.page.review-changes,
.page.review-winter-fees-changes {
  .feature-type {
    margin-bottom: var(--layout-margin-large);
    padding-block: var(--layout-padding-medium);

    & > h2 {
      margin-bottom: var(--layout-margin-xlarge);

      .feature-icon {
        height: 1.25em;
      }
    }
  }

  .type-column,
  .prev-date-column {
    width: 33.33%;
  }

  .current-date-column {
    width: 25%;
  }

  .actions-column {
    width: 8.33%;
  }

  .table th,
  .table td {
    vertical-align: middle;
  }

  // spacing between DateRange components
  td:not(:last-child) .date-range {
    margin-right: 1em;
  }
}
