.confirmation-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.confirmation-dialog-outer {
  display: grid;
  grid-template-columns: 1% 99%;
  border-radius: var(--layout-border-radius-large);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  max-width: 80%;
  width: 100%;
  @include from-md {
    max-width: 50%;
  }
}

.confirmation-dialog-container {
  background-color: white;
  padding: var(--layout-padding-large);
  border-top-right-radius: var(--layout-border-radius-large);
  border-bottom-right-radius: var(--layout-border-radius-large);
}

.confirmation-dialog-left-warning-column {
  background-color: var(--support-border-color-warning);
  display: inline-block;
  padding: 10px;
  border-top-left-radius: var(--layout-border-radius-large);
  border-bottom-left-radius: var(--layout-border-radius-large);
}

.confirmation-dialog-title {
  font-size: var(--typography-regular-H6);
  font-weight: bold;
  margin-bottom: var(--layout-margin-none);
}

.confirmation-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--layout-margin-medium);
}

.confirmation-dialog-message {
  margin-bottom: var(--layout-margin-large);
}

.confirmation-dialog-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirmation-dialog-close {
  background-color: transparent;
  border: none;
  color: var(--icons-color-secondary);
  font-size: 32px;
  // float: right;
}
