.date-range {
  display: flex;
  justify-content: space-between;
  width: fit-content;

  .date {
    max-width: fit-content;
    @media (min-width: 576px) {
      min-width: 6em;
    }
  }

  .separator {
    margin-inline: 1em;
  }
}
