table {
  tr.table-row {
    &--park-header {
      th {
        background-color: var(--theme-primary-blue);
        padding: 0.75rem 0.5rem;
      }
    }
    &--park,
    &--park-area,
    &--feature {
      th {
        background-color: var(--theme-blue-10);
      }
    }
    &--park-area-feature {
      th {
        background-color: var(--theme-gray-10);
      }
    }
  }
}
