.form-panel {
  &.offcanvas.offcanvas-end {
    width: 100%;
    padding: var(--layout-padding-medium);
    @include from-md {
      width: 80%;
    }

    select.form-select#operating-year-select {
      min-width: 120px;
      width: fit-content;
    }
  }
}
