#portal-nav-sidebar {
  background: var(--theme-gray-20);
  width: clamp(17em, 20%, 20em);
  padding: 3rem 0;
  align-self: stretch;
  flex-shrink: 0;

  .nav {
    position: sticky;
    top: 3rem;

    .nav-link {
      padding: 0.75rem 1.5rem;
      text-align: left;
      font-weight: 400;
      opacity: 0.6;
      transition: opacity 150ms ease-in-out;

      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }

      &.active {
        opacity: 1;
        font-weight: 700;
        background: var(--surface-color-background-white);
        color: var(--theme-primary-blue);
      }
    }
  }
}
