// Import the library styles
@use "react-datepicker/dist/react-datepicker.css";

// Display the datepicker in a portal, above the Offcanvas panel (z-index 1045 + 1)
.react-datepicker-popper {
  z-index: 1046;
}

// Define a minimum height for the popper container.
// This prevents the "flip" behavior from making the input reposition
// when a longer month overflows the viewport.
// (Example: Feb 2026 is 4 rows tall, while May 2026 is 6 rows)
.react-datepicker-popper-padded {
  // Make all months as tall as a 6-row month, so all months will fit
  min-height: 18em;
  display: flex;
  align-items: flex-start;

  // When the popper is placed above the input, align contents to the bottom
  &[data-placement="top"] {
    align-items: flex-end;
  }
}

// Overrides for the react-datepicker component package
.react-datepicker {
  // Prevent the bootstrap theme from making the month name huge
  h2 {
    font-size: var(--typography-font-size-body) !important;
  }
}

// For datepickers with the month selection,
// hide the month name header and just show the dropdown
.react-datepicker:has(.react-datepicker__current-month--hasMonthYearDropdown) {
  .react-datepicker__header {
    .react-datepicker__current-month {
      display: none;
    }

    .react-datepicker__header__dropdown {
      // Prevent the dropdown from being hidden on click
      .react-datepicker__month-year-read-view {
        visibility: visible !important;
      }

      // Make the dropdown styles bigger to show as a header
      .react-datepicker__month-year-read-view--selected-month-year {
        font-size: var(--typography-font-size-body) !important;
        font-weight: bold;
      }
    }

    // Make the dropdown and options bigger
    .react-datepicker__month-year-dropdown {
      $width: 10rem;
      width: $width;
      left: calc(50% - $width/2);
      padding: 0.4em;
      font-size: 1rem;

      // Make the dropdown options bigger
      .react-datepicker__month-year-option,
      .react-datepicker__month-year-option--selected_month-year {
        line-height: 1.5;
        white-space: nowrap;
        border-radius: 0.3rem;
      }

      // Highlight the selected option and hide the checkmark icon
      .react-datepicker__month-year-option--selected_month-year {
        font-weight: bold;

        .react-datepicker__month-year-option--selected {
          display: none;
        }
      }
    }
  }
}
