// List styles for content from the rich text editor/CMS
// Intended to match the styles on the main BCParks.ca website

ol {
  list-style-type: decimal;

  li.lower-alpha {
    list-style-type: lower-alpha;
  }
}

ul {
  list-style-type: disc;

  ul {
    list-style-type: circle;
  }
}
