.tooltip {
  .tooltip-inner {
    background-color: var(--typography-color-primary);
  }
  &.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--typography-color-primary);
  }
  &.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var(--typography-color-primary);
  }
  &.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: var(--typography-color-primary);
  }
  &.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: var(--typography-color-primary);
  }
}
