.tooltip {
  .tooltip-inner {
    background-color: #1a1a1a;
  }
  &.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #1a1a1a;
  }
  &.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #1a1a1a;
  }
  &.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #1a1a1a;
  }
  &.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #1a1a1a;
  }
}
