.multi-select-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bcgov-select {
  &.bcgov-select--has-selection {
    [class*="-placeholder"] {
      color: var(--typography-color-primary) !important;
    }
  }
}
