.layout.landing-page-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
  header.section-tabs {
    background-color: var(--surface-color-background-light-blue);
    border-bottom: 1px solid var(--theme-gray-50);

    .nav-tabs {
      border-bottom: none;

      // Prevent underline on active tab
      a.active:hover {
        text-decoration: none;
      }
    }
  }
}
