.layout.landing-page-tabs {
  header.section-tabs {
    background-color: var(--surface-color-background-light-blue);
    border-bottom: 1px solid var(--theme-gray-50);

    .nav-tabs {
      border-bottom: none;
    }
  }
}
