kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-{{ .Values.frontend.componentName }}
  labels:
    component: {{ .Values.frontend.componentName }}
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
spec:
  selector:
    matchLabels:
      component: {{ .Values.frontend.componentName }}
      release: {{ .Release.Name }}
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        component: {{ .Values.frontend.componentName }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Values.frontend.componentName }}
          resources:
{{ toYaml .Values.frontend.resources | indent 12 }}
          image: {{ .Values.images.frontend.name }}:{{ .Values.images.frontend.tag }}
          imagePullPolicy: {{ .Values.frontend.imagePullPolicy }}
          ports:
            - name: {{ .Values.frontend.service.portName }}
              containerPort: {{ .Values.frontend.service.port }}
              protocol: TCP
          env:
            - name: REACT_APP_CMS_BASE_URL
              value: {{ .Values.cluster.cmsUrl }}
            - name: REACT_APP_FRONTEND_BASE_URL
              value: {{ .Values.frontend.env.externalUrl }}
            - name: REACT_APP_KEYCLOAK_AUTH_URL
              value: {{ .Values.cluster.ssoAuthUrl }}
            - name: REACT_APP_KEYCLOAK_REALM
              value: {{ .Values.cluster.ssoRealm }}
            - name: REACT_APP_KEYCLOAK_CLIENT_ID
              value: {{ .Values.cluster.ssoClientId }}
            - name: REACT_APP_STAT_HOLIDAY_API
              value: {{ .Values.frontend.env.statHolidayApi }}
            - name: REACT_APP_PUBLIC_URL
              value: {{ .Values.frontend.env.publicUrl }}
          readinessProbe:
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 10
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 10
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
