// Bootstrap theme
// https://digitalspace.github.io/bcparks-bootstrap-theme/
@import "@digitalspace/bcparks-bootstrap-theme";

// Design tokens
// https://www2.gov.bc.ca/gov/content/digital/design-system/foundations/design-tokens
@import "@bcgov/design-tokens/css/variables.css";

// Custom styles
header.page-header {
  padding-block: var(--layout-padding-medium);
  margin-bottom: var(--layout-padding-xlarge);
  border-bottom: 1px solid var(--surface-color-border-default);
}

// append search icon appended
// same spacing as the "success" state
.input-with-append {
  position: relative;

  input {
    padding-right: calc(1.5em + 0.75rem);
  }

  select {
    // remove the arrow icon added by bootstrap
    background-image: none;
  }

  .append-content {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    pointer-events: none;
  }
}

// required field label
.append-required {
  &::after {
    content: "*";
    color: var(--typography-color-danger);
  }
}

// custom bootstrap button style: "text"
.btn-text-primary {
  --bs-btn-color: var(--theme-primary-blue);
}

// custom bootstrap button style: "link"
.text-link {
  color: var(--typography-color-link);

  &:hover {
    color: var(--bs-link-hover-color);
  }
}

// custom bootstrap alert style: "contact" call-to-action
.alert-cta-contact {
  background-color: var(--theme-blue-20);
  color: var(--theme-primary-blue);
  border-color: var(--surface-color-border-active);
}

// override bootstrap theme styles: don't shrink radio/checkbox labels
label.form-check-label {
  font-size: var(--typography-font-size-body) !important;
}

// overrides for the datepicker component package
.react-datepicker {
  // prevent the bootstrap theme from making the month name huge
  h2 {
    font-size: var(--typography-font-size-body) !important;
    display: block !important;
  }
}
