// Bootstrap theme
// https://digitalspace.github.io/bcparks-bootstrap-theme/
@import "@digitalspace/bcparks-bootstrap-theme";

// Design tokens
// https://www2.gov.bc.ca/gov/content/digital/design-system/foundations/design-tokens
@import "@bcgov/design-tokens/css/variables.css";

// Bootstrap overrides

// append search icon appended
// same spacing as the "success" state
.input-with-append {
  position: relative;

  input {
    padding-right: calc(1.5em + 0.75rem);
  }

  .append-content {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    pointer-events: none;
  }
}
