// Bootstrap theme
// https://digitalspace.github.io/bcparks-bootstrap-theme/
@import "@digitalspace/bcparks-bootstrap-theme";

// Design tokens
// https://www2.gov.bc.ca/gov/content/digital/design-system/foundations/design-tokens
@import "@bcgov/design-tokens/css/variables.css";

// Custom styles
header.page-header {
  background-color: var(--surface-color-background-light-blue);
  padding-inline: var(--layout-padding-large);
  padding-block: var(--layout-padding-medium);
  margin-bottom: var(--layout-padding-xlarge);

  &.internal {
    background: none;
    padding-inline: 0;
    border-bottom: 1px solid var(--surface-color-border-default);
  }
}

// append search icon appended
// same spacing as the "success" state
.input-with-append {
  position: relative;

  input {
    padding-right: calc(1.5em + 0.75rem);
  }

  .append-content {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    pointer-events: none;
  }
}

// custom bootstrap button style: "text"
.btn-text-primary {
  --bs-btn-color: var(--theme-primary-blue);
}

// custom bootstrap alert style: "contact" call-to-action
.alert-cta-contact {
  background-color: var(--theme-blue-20);
  color: var(--theme-primary-blue);
  border-color: var(--surface-color-border-active);
}
