.advisory-summary {
  // Use the same spacing as the sections in AdvisorySummaryView for the title section
  .title {
    margin-bottom: 2em;

    p:last-child {
      margin-bottom: 0;
    }
  }

  // Display the action buttons floating in the top-right corner on larger screens
  @media (min-width: 1200px) {
    // 1200px = bootstrap xl breakpoint
    .actions {
      position: absolute;
      top: 0.75em;
      right: 0;
    }
  }
}

.launchIcon {
  width: 20px !important;
  height: 20px !important;
  margin-top: -2px !important;
}

.launchIcon {
  margin-left: 8px;
}

.act-right {
  text-align: right !important;
}
