cluster:
  domain: apps.silver.devops.gov.bc.ca
  ssoAuthUrl: https://dev.loginproxy.gov.bc.ca/auth
  ssoRealm: bcparks-service-transformation
  ssoClientId: staff-portal

images:
  frontend:
    name: image-registry.openshift-image-registry.svc:5000/a7dd13-tools/frontend-main
    tag: latest
  backend:
    name: image-registry.openshift-image-registry.svc:5000/a7dd13-tools/backend-main
    tag: latest

frontend:
  imagePullPolicy: Always

  componentName: frontend

  env:
    externalUrl: https://dev-staff.bcparks.ca
    statHolidayApi: https://canada-holidays.ca/api/v1/provinces/BC

  resources:
    limits:
      cpu: 100m
      memory: 100Mi
    requests:
      cpu: 50m
      memory: 50Mi

  service:
    portName: frontend
    port: 3000

backend:
  componentName: backend

  imagePullPolicy: Always

  resources:
    limits:
      cpu: 750m
      memory: 500Mi
    requests:
      cpu: 150m
      memory: 250Mi

  env:
    nodeEnv: production
    devTestMode: "false"
    dbServer: crunchy-postgres-pgbouncer
    dbPort: 5432

  service:
    portName: express
    port: 8100

  hpa:
    minReplicas: 1
    maxReplicas: 2
    cpuUtilizationThreshold: 125

cron:
  componentName: strapi-sync

  enabled: true

  # Run the cron job every day at 6:00 AM GMT (10:00 PM PST or 11:00 PM PDT)
  schedule: "0 6 * * *"

  successfulJobsHistoryLimit: 5
  failedJobsHistoryLimit: 2
  backoffLimit: 0

  resources:
    limits:
      cpu: "1"
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 250Mi
