cluster:
  ssoAuthUrl: https://dev.loginproxy.gov.bc.ca/auth
  cmsUrl: https://alpha-dev-cms.bcparks.ca

images:
  frontend:
    name: image-registry.openshift-image-registry.svc:5000/a7dd13-tools/frontend-alpha
    tag: latest
  backend:
    name: image-registry.openshift-image-registry.svc:5000/a7dd13-tools/backend-alpha
    tag: latest

frontend:
  env:
    externalUrl: https://alpha-dev-staff.bcparks.ca
    publicUrl: https://alpha-dev.bcparks.ca

backend:
  env:
    externalUrl: https://alpha-dev-staff-api.bcparks.ca
    devTestMode: "true"
  postgresSecret: crunchy-postgres-alpha-pguser-postgres

cron:
  enabled: true
