.advisory-dashboard-page-wrap {
  .advisory-dashboard {
    overflow-x: auto;

    &-table-wrap {
      min-width: min-content;
    }
  }

  .urgency-column {
    position: absolute;
    inset: 0;
    // same width as the urgency border
    left: -8px;
  }

  .page-loader {
    padding-top: 2% !important;
    text-align: center !important;
  }

  .park-count-badge {
    margin-right: 4px;
    margin-left: 4px;
    border: 1px solid var(--color-light-grey);
  }

  .advisory-archived-toggle input {
    width: 1.25rem;
    height: 1.25rem;
  }

  .filter-row {
    .filter-col {
      @include from-xxl {
        flex: 0 0 auto;
        // Keep select fields wide enough to avoid wrapping
        width: 320px;
      }
    }
  }
}
